version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2
jobs:
  build-and-test:
    docker:
      - image: cimg/ruby:3.1.1 
        environment:
          PGHOST: localhost
          PGUSER: postgres
          RAILS_ENV: test
      - image: postgres:13.2
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: popsicle_sticks_test
          POSTGRES_PASSWORD:
    steps:
      - checkout
      - run:
          name: bundle version
          command: bundle -v
      - ruby/bundle-install

      - checkout
      - run: bundle install --path vendor/bundle
      - run: bundle exec rake db:migrate
      - run: bundle exec rspec
workflows:
  build-test-deploy:
    jobs:
      - build-and-test