version: '2.1'
orbs:
  ruby: circleci/ruby@x.y
jobs:
  build:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - ruby/install:
          version: '2.7'
      - run: echo "Ruby 2.7 has been installed"
workflows: null